{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if object %}
    <h1>Change {{object.name}}'s information</h1>
  {% else %}
    <h1>Add a Frog</h1>
  {% endif %}

<div class="page-header">
  <h1>Add a Froggie</h1>
  <img  alt="A cat using a computer"/>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}