.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  margin: 10px;
  border: var(--borders);
  /* box-shadow: var(--card-box-shadow); */
  background-color: black;
  color: #291540;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.page-header {
  display: flex;
  justify-content: center;
}

.globe-img {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 30px;
}

.frog-img-holder {
  display:flex;
  justify-content: center;
  width: 100%;
}

body {
  background-color: #291540;
}