{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/frog-index.css' %}"/>
{% endblock %}

{% block content %}

<div class="globe-img"><img class= "globe-image" src="{% static "images/globe.png" %}"alt="Globe" /></div>
<section class="page-header">
  <h1>Frog World</h1>
</section>

<section class="card-container">
  {% for frog in frogs %}
    <div class="card">
      <a href="{% url 'frogs_detail' frog.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img class="frog-img-holder"
          src="{% static "images/frogholder.png" %}"
            alt="A skater boy cat"
          >
        </div>
        <h2 class="card-title">{{ frog.name }}</h2>
      </a>
        {% if frog.lifespan > 0 %}
          <p><strong> A {{ frog.lifespan }} year average lifespan.</strong></p>
        {% else %}
          <p>A {{ frog.color_pat }} frog.</p>
        {% endif %}
        <p>{{ frog.fun_fact}}</p>
      </div>
    
    </div>
  {% endfor %}
</section>

{% endblock %}